
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card Id="1"
        photoCover="https://cdn.pensador.com/img/imagens/li/vr/livros_de_romance_f_l.jpg"
        cardTitle="LIVROS DE ROMANCE"
        cardDescription="A forma literária do romance apresenta, de maneira ficcional, a experiência social da modernidade, uma representação mais próxima da experiência individual, que possui um contexto temporal e espacial.">
        
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        Id="2"
        cardTitle="P.S. EU TE AMO"
        photoCover="https://cdn.culturagenial.com/imagens/ps-eu-te-amo-livro-cke.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="3"
        cardTitle=" ANNE DE GREEN GABLES"
        photoCover="https://cdn.culturagenial.com/imagens/anne-de-green-gables-livro-cke.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="4"
        cardTitle="ÁGUA PARA ELEFANTES"
        photoCover="https://cdn.culturagenial.com/imagens/gua-para-elefantes-livro-cke.jpg"
        >
        </app-small-card>

        
    </div>

   
</div>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card Id="5"
        photoCover="https://thumbs.dreamstime.com/b/m%C3%A1scaras-do-drama-38191460.jpg"
        cardTitle="LIVROS DE DRAMA"
        cardDescription="Uma das maneiras de se envolver com a leitura, é escolher um gênero literário que prenda sua atenção e drama é um dos gêneros mais populares desde a grécia antiga.">
        
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        Id="6"
        cardTitle="O SOL É PARA TODOS"
        photoCover="https://ohoje.com/public/imagens/fotos/amp/2023/05/51wdOrz6uNL._SY344_BO1204203200_QL70_ML2_.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="7"
        cardTitle=" AS VINHAS DA IRA"
        photoCover="https://ohoje.com/public/imagens/fotos/amp/2023/05/91SOU6MzlEL-673x1024.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="8"
        cardTitle="O AMOR NOS TEMPOS DO CÓLERA"
        photoCover="https://ohoje.com/public/imagens/fotos/amp/2023/05/41mruiKEWnL._SX343_BO1204203200_.jpg"
        >
        </app-small-card>

        
    </div>

   
</div>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card Id="9"
        photoCover="https://img.freepik.com/vetores-premium/educacao-infantil_29937-3076.jpg"
        cardTitle="LIVROS INFANTIS"
        cardDescription="Para além da importância didática, a leitura na infância é fundamental para despertar o interesse pela literatura e fazer com que se experimente sentimentos complexos que farão parte da vida adulta.">
        
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card
        Id="10"
        cardTitle="O PEQUENO PRÍNCIPE"
        photoCover="https://cdn.culturagenial.com/imagens/s-l1000-cke.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="11"
        cardTitle=" PLUFT O FANTASMINHA"
        photoCover="https://cdn.culturagenial.com/imagens/pluft-o-fantasminha.jpg"
        >
        </app-small-card>
        <app-small-card
        Id="12"
        cardTitle="O MENINO MALUQUINHO"
        photoCover="https://cdn.culturagenial.com/imagens/978-85-06-05510-6-menino-maluquinho-768x1141-0-cke.jpg"
        >
        </app-small-card>

        
    </div>

   
</div>

